@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Passion+One:wght@400;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-wrap{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  color: #ececec;
}

.suport-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #070421;
  cursor: pointer;
  font-weight: 600;
  
 
}

.suport-link p:hover{
  color: #00e3e8;
  transform: translateX(10px);
  transition: transform 0.5s ease;
}

/* header */

.wrap-header{
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.header{
  width: 100%;
  height: 100px;
  background-color: #1f1d3f;
  color: #ececec;
  display: flex;
  align-items: center;
  
}

.header .menu {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 18px;
  list-style: none;
  justify-content: center;
}

.menu li:hover{
  color: #00e3e8;
  transition: all 0.5s ease;
  cursor: pointer;
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bf2cf9;
  width: 260px;
  height: 46px;
  font-size: 20px;
  border: none;
  font-weight: 700;
  transform: skewX(-20deg);
}

.button:hover{
  background-color: #b124e9;
  transition: all 0.5s ease;
  cursor: pointer;
}

/*  start section one */

.container-section{
  display: flex;
  justify-content: center;
  height: 400px;
  width: 100vw;
  background-color: #070421;

}
.wrap-section-container{
  width: 1200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.wrap-section-container video{
  position: relative;
  right: 50px;
  transform: skewX(-10deg);
  
}

.title-sec{
  position: relative;
  font-weight: 500;
  z-index: 1000;
  font-family: 'Bangers', sans-serif;
  text-transform: uppercase;
  font-size: 70px;
  line-height: 60px;
}

.title-sec span{
  color: #00e3e8;
}

.text-sec{
  font-size: 20px;
  position: relative;
  z-index: 1000;
  left: 50px;
}

.aside-content{
  position: relative;
  bottom: 40px;
}

